[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=csg
Comment=Canta Song Generator is a tool to make new Songs for Canta
Exec=/usr/games/csg
Icon=csg.png
Categories=Game;Music;
