include *.txt canta.desktop VERSION main.py csg.py configspec
recursive-include themes *
recursive-include songs *
recursive-include locale *
recursive-include media *
include starter/canta
include starter/csg
#prune examples/sample?/build

