include *.txt canta.desktop VERSION main.py csg.py configspec
recursive-include media *
recursive-include locale *
recursive-include misc *
include starter/canta
include starter/csg
#prune examples/sample?/build

