include *.txt canta.desktop VERSION main.py csg.py
recursive-include themes *
recursive-include songs/Bruder Jakob *
recursive-include songs/Frere Jacques *
recursive-include locale *
recursive-include media *
include starter/canta
#prune examples/sample?/build

